.share {
  -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
  box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
  border-radius: 20px;
  background-color: white;
  margin-bottom: 20px;

  .container {
    .preview {
      -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
      -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
      box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
      border-radius: 20px;
      background-color: white;
      padding: 20px;
      margin: 20px 0px;
      .user {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .userInfo {
          display: flex;
          gap: 20px;

          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
          }

          .details {
            display: flex;
            flex-direction: column;

            .name {
              font-weight: 500;
            }
          }
        }
      }
      .content {
        margin: 20px 0px;

        img {
          width: 100%;
          max-height: 300px;
          object-fit: cover;
          margin-top: 20px;
        }
      }
    }

    padding: 20px;

    .top {
      display: flex;
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
      }
      align-items: center;
      gap: 20px;

      input {
        border: none;
        outline: none;
        padding: 20px 10px;
        background-color: transparent;
        width: 60%;
      }
    }

    hr {
      margin: 20px 0px;
      height: 0.5px;
    }

    .bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .left {
        display: flex;
        align-items: center;
        gap: 20px;

        .item {
          display: flex;
          align-items: center;
          gap: 10px;
          cursor: pointer;

          img {
            height: 20px;
          }

          span {
            font-size: 12px;
            color: gray;
          }
        }
      }

      .right {
        display: flex;
        align-items: center;
        gap: 20px;

        button {
          border: none;
          padding: 5px;
          color: white;
          cursor: pointer;
          background-color: #5271ff;
          border-radius: 3px;
        }
      }
    }
  }
}
